# Logs
logs
*.log
npm-debug.log*
setup.md

# Dependency directories
node_modules/
jspm_packages/

# Production build
dist/
build/

# Environment variables
.env

# VSCode files
.vscode/

# System files
.DS_Store
Thumbs.db

# IDE files
.idea/
*.iml

# message.json
message.json